
  .events_filters {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
  }
  .table-events{
    width: 100%;
    background-color: chartreuse;
  }
